h1 { 
    position: relative;
}

body {
    background-color: lightgray;

    
}

* {
box-sizing: border-box; 

}

#box1 {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 32%;
    height: 170px;
    float: left;
      
}

.section1 {
    padding: 10px;
}

#box2 {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 32%;
    height: 170px;
    float: left;
    
}

#box3 {
    background-color: gray;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    width: 32%;
    height: 170px;
    float: left;
}

#boxes {
float: left;
margin-left: 10px;
}